# group_attributes

In [1]:
from timelink.notebooks import TimelinkNotebook

tlnb = TimelinkNotebook(db_name="group_attribute")
tlnb.print_info()

Project name: test-project
Project home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
Database type: sqlite
Database name: group_attribute
Kleio image: timelinkserver/kleio-server
Kleio version: latest
Kleio server token: ABb5sPYAGh3YsV0D6V99nyQArvWibhXH
Kleio server URL: http://127.0.0.1:8091
Kleio server home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project
SQLite directory: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite
TimelinkNotebook(project_name=test-project, project_home=/Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project, db_type=sqlite, db_name=group_attribute, kleio_image=timelinkserver/kleio-server, kleio_version=latest, postgres_image=postgres, postgres_version=latest)

In [2]:
### Import file
from timelink.api.database import import_from_xml

db = tlnb.db
with db.session() as session:
    import_from_xml( "../../../../xml_data/dehergne-a.xml",session)

Storing 11 postponed relations

In [3]:
from timelink.pandas.group_attributes import group_attributes
from timelink.pandas import entities_with_attribute

# Get list of people with with a certain value in a specific attribute
df = entities_with_attribute(
                    the_type='estadia',
                    the_value='Macau',
                    dates_in=(1580, 1644),
                    db=tlnb.db,
                    sql_echo=False)
ids = list(df.index)

group = group_attributes(group=ids,db=tlnb.db)
group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, deh-antonio-de-almeida to deh-luis-de-almeida-ref2
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         130 non-null    object
 1   sex          130 non-null    object
 2   persons_obs  0 non-null      object
 3   type         130 non-null    object
 4   value        130 non-null    object
 5   date         130 non-null    object
 6   attr_obs     7 non-null      object
dtypes: object(7)
memory usage: 8.1+ KB

In [4]:
group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, deh-antonio-de-almeida to deh-luis-de-almeida-ref2
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         130 non-null    object
 1   sex          130 non-null    object
 2   persons_obs  0 non-null      object
 3   type         130 non-null    object
 4   value        130 non-null    object
 5   date         130 non-null    object
 6   attr_obs     7 non-null      object
dtypes: object(7)
memory usage: 8.1+ KB

In [5]:
group.head(10)

,name,sex,persons_obs,type,value,date,attr_obs
id,,,,,,,
deh-antonio-de-almeida,António de Almeida,m,None,nacionalidade,Portugal,0,None
deh-antonio-de-almeida,António de Almeida,m,None,jesuita-estatuto,Padre,0,None
deh-antonio-de-almeida,António de Almeida,m,None,nome,António de Almeyda,0,None
deh-antonio-de-almeida,António de Almeida,m,None,nome-chines,Mei Ngan-tong Li-Sieou,0,None
deh-antonio-de-almeida,António de Almeida,m,None,wikidata-nascimento,https://www.wikidata.org/wiki/Q686868,15570000,None
deh-antonio-de-almeida,António de Almeida,m,None,nascimento,"Trancoso, diocese de Viseu",15570000,None
deh-antonio-de-almeida,António de Almeida,m,None,jesuita-entrada,?,15760104,None
deh-antonio-de-almeida,António de Almeida,m,None,embarque,Relíquias,15840410,None
deh-antonio-de-almeida,António de Almeida,m,None,wicky,254,15840410,None
deh-antonio-de-almeida,António de Almeida,m,None,wicky-viagem,29,15840410,None

In [6]:
group["type"].value_counts().sort_index()

type
dehergne                             7
embarque                             4
estadia                             29
idade                                1
jesuita-cargo                        4
jesuita-entrada                      4
jesuita-estatuto                     4
jesuita-ordenacao-padre              3
jesuita-tarefa                       9
jesuita-votos                        2
jesuita-votos-local                  1
morte                                4
nacionalidade                        4
nascimento                           4
nome                                 7
nome-chines                          3
tarefa                               3
titulo                               1
wicky                                4
wicky-viagem                         4
wikidata-estadia                    20
wikidata-jesuita-entrada             2
wikidata-jesuita-ordenacao-padre     1
wikidata-morte                       1
wikidata-nascimento                  4
Name: count, dtype: int64

In [12]:
from timelink.pandas.group_attributes import display_group_attributes

display_group_attributes(ids,
                         # show name,sex,obs
                         person_info=True,
                         # define which attributes to display in the header
                         header_cols=['name','nascimento','nacionalidade','jesuita-entrada'],
                         include_attributes=['estadia','entrada'],
                         sort_attributes=['date'],
                         db=tlnb.db)