> First time use: follow instructions in the README.md file in this directory.


**[PT]** Português

---

**[EN]** English

Usar esta base para criar um novo Bloco de Notas

---

Use this template for a new Notebook


# Título


[Sumário]

---

# Title

[summary]

---
## Setup

In [1]:
from timelink.api.database import TimelinkDatabase


db_dir = '../database/sqlite/'


db: TimelinkDatabase = TimelinkDatabase(db_name='timelink.db', db_path=db_dir)

In [2]:
db.table_names()

['actas',
 'acts',
 'aforamentos',
 'attributes',
 'class_attributes',
 'classes',
 'entities',
 'escrituras',
 'geoentities',
 'goods',
 'households',
 'items',
 'kleiofile',
 'kleiofiles',
 'objects',
 'persons',
 'relations',
 'rentities',
 'rgeoentities',
 'robjects',
 'rpersons',
 'sources',
 'syslog',
 'syspar']

In [3]:
from timelink.api.models import Source

with db.session() as session:
    sources = session.query(Source).all()
    for source in sources:
        print(source)

fonte$baptismos 1685/16850000/type=reg paroquiais/ref=None/loc=fol. 30-34/kleiofile="/kleio-home/sources/soure-fontes/sources/1685-1720/baptismos/b1685.cli""/replaces=None/obs=existem baptismos anteriores mas em muito mau estado.
fonte$coja-rol-1841/0/type=rol de confessados/ref=AUC III-Q GUIA 1� SEC�����̻III Deposito/loc=None/kleiofile="/kleio-home/reference_sources/roisdeconfessados/coja-rol-1841.cli""/replaces=None
fonte$quelfes-crisma1753/17531228/type=crisma/ref=None/loc=livro XXXXXX/kleiofile="/kleio-home/reference_sources/paroquiais/crisma/crisma1753.cli""/replaces=None/obs="""
      Lembrança das pessoas que se crismaram na visita que fez oExcellentissimo e Reverendissimo Senhor D. Fernandes Lourenço de Santa Maria em 28 de Dezembro de 1753
  """
fonte$dehergne-a/0/type=Dicionário Biográfico/ref=None/loc=Online archive.org:details:bhsi37/kleiofile="/kleio-home/reference_sources/varia/dehergne-a.cli""/replaces=None/obs=Dehergne, Joseph, Répertoire des Jésuites de Chine, de 1542 à 1800, 1973. Letra A - Entradas relacionadas com Coimbra.
fonte$docsregiospontepisc/1780/type=None/ref=None/loc=V, 1e, 8, 3, 204,205,206/kleiofile="/kleio-home/reference_sources/notariais/docsregiospontepisc.cli""/replaces=None/obs=notario pascoal gavino
fonte$eleicoes1/0/type=livro de eleicoes datas/ref=None/loc=arquivo da santa casa da misericordia de soure/kleiofile="/kleio-home/reference_sources/varia/eleicoes1.cli""/replaces=None
fonte$Devedores/0/type=inventario orfanologico/ref=None/loc=None/kleiofile="/kleio-home/reference_sources/varia/Devedores.cli""/replaces=None/obs="""
      escritos de dividas registados no inventario post mortem do patrimonio do meio conego antonio de campos branco de eiras, falecido em 1786
  """
fonte$auc-alunos-264605-A-140337-140771/0/type=UC-AUC-ficheiro-alunos/ref=None/loc=Arquivo da Universidade de Coimbra/kleiofile="/kleio-home/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli""/replaces=None/obs="""
      """
             Âmbito e conteúdo

             O índice de alunos da Universidade de Coimbra, também conhecido, apenas, como ficheiro de alunos, foi elaborado entre 1940 e 1950, pelos funcionários do Arquivo, por decisão do doutor Mário Brandão, então diretor do Arquivo da Universidade, como o atestam os relatórios de atividades enviados anualmente ao reitor da Universidade (v. Correspondência expedida do Arquivo (SR), cx.2 (1942-1947) e cx. 3 (1948-1951) – cota AUC-IV-2.ªE-10-2-18 e 19).
             Os citados relatórios revelam, por exemplo, que em 1941-1942 foram elaboradas fichas relativas aos livros de matrículas de 1720 a 1756, num total de 23.400 verbetes, em 1942-1943 foram elaboradas fichas dos livros de 1685 a 1719 num total de 25.000 verbetes, etc.
             Engloba dados relativos aos alunos que frequentaram a Universidade, com menção da sua naturalidade e filiação (apenas o nome do pai). No caso de alunos de ordens religiosas apenas apresentam a indicação da ordem religiosa a que pertenciam (por vezes, de forma generalizada, como, por exemplo “religioso de Santa cruz, religioso de S. Bento”) uma vez que os dados de naturalidade e de filiação destes alunos não ficaram registados nos livros originais de matrículas ou de livros de atos e graus e provas de curso.
             Inclui as datas de matrícula na Universidade, desde 1537, na cadeira de Instituta (a partir de 1772, deixa de existir esta cadeira) e nas diversas faculdades: Teologia, Cânones, Leis, Medicina; em 1772 foram criadas a Faculdade de Matemática e a Faculdade de Filosofia e a partir de 1834 a Faculdade de Cânones e a Faculdade de Leis fundiram-se, dando origem à Faculdade de Direito. Inclui também datas de provas de curso e datas de exames e graus.
             Estes dados foram recolhidos na série documental de livros de matrículas que existem entre 1573 e 1908. Para os anos anteriores, os dados foram recolhidos em livros que incluem registos de diversos atos, nomeadamente: matrículas, atos e graus e de provas de curso, entre 1537 e 1572. Registe-se que figuram no índice apenas dois alunos anteriores a 1537: Luís Aires e Rodrigo de Gaia que frequentaram a Universidade desde 1536. Depois de 1908 figuram alguns alunos, nomeadamente o aluno Domingos Luiselo Alves Moreira (1915-1919) pois os seus dados foram incluídos posteriormente à elaboração do ficheiro original.
             Compreende os referidos dados redigidos em fichas individuais manuscritas, em trabalho cuja coordenação poderá ser atribuída ao Dr. António Gomes da Rocha Madahil, conservador do Arquivo e cuja elaboração pode ser atribuída aos funcionários que trabalharam no Arquivo, entre 1940 e 1950: António da Costa Rodrigues, Diamantino Ramos, António dos Santos Bernardino, Guilherme Flóreo dos Santos Bernardino, Francisco Ferrer Mendes da Silva.
             O último livro em que foram colhidos dados para o Índice de alunos é o volume 129 da série de Livros de Matrículas (cota: AUC-IV-1ªD-2-5-68).
             Este volume reporta-se ao ano lectivo de 1906-1907, com matrículas para as Faculdades de Teologia, Direito, Medicina, Matemática e Filosofia. No entanto, apesar de se destinar a este ano lectivo de 1906-1907 foram acrescentados alguns registos até 1911.

             Sistema de organização

             O índice foi elaborado em fichas individuais, apresentando em primeiro lugar o nome completo do aluno, tendo sido ordenado alfabeticamente pelo último apelido ou pelo nome dos dois últimos apelidos, no caso de nomes espanhóis ou de nomes compostos (ex. Castelo Branco, Lopes Júnior, etc.).
             Existem algumas fichas que são apenas remissivas para a forma completa do nome do aluno.
             Os dados do índice foram lançados na plataforma informática Archeevo, numa adaptação desta às necessidades imediatas de divulgação da informação, de forma a permitir um acesso mais rápido aos livros de matrículas e aos livros de atos e graus e provas de curso. Foi feita a atualização ortográfica dos nomes, como por exemplo Souza - Sousa, Paes - Pais, etc., bem como a atualização toponímica como, por exemplo, nos seguintes casos Punhete - Constância, Lavarrabos - São João do Campo, Farinha Podre - São Pedro de Alva.
             Ao fazer o registo informático, das fichas do índice, tornou-se necessário, para agilizar a pesquisa, reunir cada grupo de fichas com a mesma letra inicial dos apelidos como se se tratasse de uma unidade de instalação, desta forma o número de unidades de instalação corresponde ao das letras do alfabeto. Por outro lado, dentro de cada unidade de instalação (ou seja cada letra do alfabeto) ficou registada cada ficha como um documento simples.
             NOTA: Reconhece-se a existência de algumas lacunas na elaboração deste índice, no entanto, este é tornado público para facilitar a pesquisa dos investigadores.
             As correcções serão feitas pontualmente.

             URL: http://pesquisa.auc.uc.pt/details?id=264605
         """
  """
fonte$auc_cartulario18/0/type=escrituras/ref=None/loc=auc/kleiofile="/kleio-home/reference_sources/varia/auc_cartulario18.cli""/replaces=None/obs=livro encadernado de notas n�18, santa clara de coimbra, cota:iii-1.d-16-3-19, tabeliao gregorio lourenco
fonte$lousa-bapt1714/0/type=bapt/ref=None/loc=None/kleiofile="/kleio-home/reference_sources/paroquiais/baptismos/bapt1714.cli""/replaces=None/obs=freguesia de sao silvestre da lousalousa
fonte$bapteirasproblem1/0/type=1787-1792/ref=None/loc=Auc/kleiofile="/kleio-home/reference_sources/paroquiais/baptismos/bapteirasproblem1.cli""/replaces=None/obs=o livro inicia-se em 1784
fonte$bapteirasproblem2/0/type=1752-1753/ref=None/loc=Auc/kleiofile="/kleio-home/reference_sources/paroquiais/baptismos/bapteirasproblem2.cli""/replaces=None/obs= o livro inicia-se em 1623
fonte$cas1714-1722-com-celebrante/0/type=casamentos/ref=None/loc=None/kleiofile="/kleio-home/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli""/replaces=None/obs=freguesia de sao silvestre da lousa
fonte$cas1714-1722/0/type=None/ref=None/loc=None/kleiofile="/kleio-home/reference_sources/paroquiais/casamentos/cas1714-1722.cli""/replaces=None/obs=freguesia de S. silvestre da lousa

In [4]:
from timelink.kleio import KleioServer

kleio_home="../kleio"

kserver: KleioServer = KleioServer.start(kleio_home=kleio_home)
token = kserver.get_token()
url = kserver.get_url()
khome = kserver.get_kleio_home()

print(f"Token: {token[:4]}")
print(f"URL: {url}")
print(f"Kleio Home: {khome}")

Token: 1Ju4
URL: http://127.0.0.1:8090
Kleio Home: /Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/kleio


# importar dados
---

# Import data

Translate new and updated files

In [5]:
for kfile in kserver.translation_status(path='',recurse='yes',status='T'):
    print(kfile.status.value, kfile.path)
    kserver.translate(kfile.path, recurse='no', spawn='no')

Check which files where translated sucessfully

```

In [6]:
ready_to_import = kserver.translation_status(path='',recurse='yes',status='V')
for ready in ready_to_import:
    print(ready.status.value, ready.path)
ready_to_import

V reference_sources/varia/Devedores.cli
V reference_sources/varia/auc-alunos-264605-A-140337-140771.cli
V reference_sources/varia/auc_cartulario18.cli
V reference_sources/paroquiais/baptismos/bapt1714.cli
V reference_sources/paroquiais/baptismos/bapteirasproblem1.cli
V reference_sources/paroquiais/baptismos/bapteirasproblem2.cli
V reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli
V reference_sources/paroquiais/casamentos/cas1714-1722.cli
V reference_sources/roisdeconfessados/coja-rol-1841.cli
V reference_sources/paroquiais/crisma/crisma1753.cli
V reference_sources/linked_data/dehergne-a.cli
V reference_sources/linked_data/dehergne-locations-1644.cli
V reference_sources/notariais/docsregiospontepisc.cli
V reference_sources/roisdeconfessados/eiras-rol1.cli
V reference_sources/roisdeconfessados/eiras-rol2.cli
V reference_sources/roisdeconfessados/eiras-rol3.cli
V reference_sources/varia/eleicoes1.cli
V reference_sources/varia/genealdiversas.cli
V reference_sources/varia/ivcc.cli
V reference_sources/varia/lrazao516pe.cli
V reference_sources/varia/misMesa.cli
V reference_sources/varia/mp758-santiago-beduido.cli
V reference_sources/notariais/notlousa1.cli
V reference_sources/paroquiais/obitos/obit1714.cli
V reference_sources/paroquiais/obitos/obitoShort.cli
V reference_sources/paroquiais/obitos/obitoShort_id.cli
V reference_sources/notariais/perdoes.cli
V reference_sources/varia/quotes.cli
V reference_sources/paroquiais/baptismos/rogeriodomingos_bap_problem.cli
V reference_sources/varia/sourecoimbrabispcoimbra_apontamentosd.cli
V reference_sources/paroquiais/obitos/testeParentescos.cli
V reference_sources/varia/vereacao.cli
V reference_sources/varia/xpto_comuns_soure.kleio

[KleioFile(path='reference_sources/varia/Devedores.cli', name='Devedores.cli', size=3249, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 28, 11, 700209, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 11, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:11', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/Devedores.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/Devedores.rpt', xml_url='/rest/exports/reference_sources/varia/Devedores.xml', import_status=None),
 KleioFile(path='reference_sources/varia/auc-alunos-264605-A-140337-140771.cli', name='auc-alunos-264605-A-140337-140771.cli', size=1381330, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 31, 27, 448850, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 31, 27, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:31:27', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 31, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:31:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/auc-alunos-264605-A-140337-140771.rpt', xml_url='/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml', import_status=None),
 KleioFile(path='reference_sources/varia/auc_cartulario18.cli', name='auc_cartulario18.cli', size=101268, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 28, 26, 195670, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 26, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:26', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/auc_cartulario18.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/auc_cartulario18.rpt', xml_url='/rest/exports/reference_sources/varia/auc_cartulario18.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/baptismos/bapt1714.cli', name='bapt1714.cli', size=43942, directory='reference_sources/paroquiais/baptismos', modified=datetime.datetime(2023, 10, 17, 4, 28, 27, 551614, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 27, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:27', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/baptismos/bapt1714.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/baptismos/bapt1714.rpt', xml_url='/rest/exports/reference_sources/paroquiais/baptismos/bapt1714.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/baptismos/bapteirasproblem1.cli', name='bapteirasproblem1.cli', size=97925, directory='reference_sources/paroquiais/baptismos', modified=datetime.datetime(2023, 10, 17, 4, 28, 41, 999635, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 41, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:41', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/baptismos/bapteirasproblem1.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/baptismos/bapteirasproblem1.rpt', xml_url='/rest/exports/reference_sources/paroquiais/baptismos/bapteirasproblem1.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/baptismos/bapteirasproblem2.cli', name='bapteirasproblem2.cli', size=136532, directory='reference_sources/paroquiais/baptismos', modified=datetime.datetime(2023, 10, 17, 4, 28, 50, 986363, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 50, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:50', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/baptismos/bapteirasproblem2.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/baptismos/bapteirasproblem2.rpt', xml_url='/rest/exports/reference_sources/paroquiais/baptismos/bapteirasproblem2.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli', name='cas1714-1722-com-celebrante.cli', size=2034, directory='reference_sources/paroquiais/casamentos', modified=datetime.datetime(2023, 10, 17, 4, 28, 44, 120981, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 28, 44, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:28:44', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 28, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:28:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.rpt', xml_url='/rest/exports/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/casamentos/cas1714-1722.cli', name='cas1714-1722.cli', size=94359, directory='reference_sources/paroquiais/casamentos', modified=datetime.datetime(2023, 10, 17, 4, 29, 0, 875390, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:00', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/casamentos/cas1714-1722.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/casamentos/cas1714-1722.rpt', xml_url='/rest/exports/reference_sources/paroquiais/casamentos/cas1714-1722.xml', import_status=None),
 KleioFile(path='reference_sources/roisdeconfessados/coja-rol-1841.cli', name='coja-rol-1841.cli', size=213581, directory='reference_sources/roisdeconfessados', modified=datetime.datetime(2023, 10, 17, 4, 29, 51, 433044, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 51, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:51', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/roisdeconfessados/coja-rol-1841.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/roisdeconfessados/coja-rol-1841.rpt', xml_url='/rest/exports/reference_sources/roisdeconfessados/coja-rol-1841.xml', import_status=None),
 KleioFile(path='reference_sources/paroquiais/crisma/crisma1753.cli', name='crisma1753.cli', size=1590, directory='reference_sources/paroquiais/crisma', modified=datetime.datetime(2023, 10, 17, 4, 29, 2, 969449, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 2, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:02', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/paroquiais/crisma/crisma1753.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/paroquiais/crisma/crisma1753.rpt', xml_url='/rest/exports/reference_sources/paroquiais/crisma/crisma1753.xml', import_status=None),
 KleioFile(path='reference_sources/linked_data/dehergne-a.cli', name='dehergne-a.cli', size=119167, directory='reference_sources/linked_data', modified=datetime.datetime(2023, 11, 29, 2, 20, 45, 776977, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 11, 29, 2, 20, 45, tzinfo=TzInfo(UTC)), modified_string='2023-11-29 02:20:45', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/linked_data/dehergne-a.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 11, 29, 2, 20, tzinfo=TzInfo(UTC)), translated_string='2023-11-29T02:20:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/linked_data/dehergne-a.rpt', xml_url='/rest/exports/reference_sources/linked_data/dehergne-a.xml', import_status=None),
 KleioFile(path='reference_sources/linked_data/dehergne-locations-1644.cli', name='dehergne-locations-1644.cli', size=48349, directory='reference_sources/linked_data', modified=datetime.datetime(2023, 11, 29, 2, 20, 41, 446536, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 11, 29, 2, 20, 41, tzinfo=TzInfo(UTC)), modified_string='2023-11-29 02:20:41', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/linked_data/dehergne-locations-1644.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 11, 29, 2, 20, tzinfo=TzInfo(UTC)), translated_string='2023-11-29T02:20:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/linked_data/dehergne-locations-1644.rpt', xml_url='/rest/exports/reference_sources/linked_data/dehergne-locations-1644.xml', import_status=None),
 KleioFile(path='reference_sources/notariais/docsregiospontepisc.cli', name='docsregiospontepisc.cli', size=2175, directory='reference_sources/notariais', modified=datetime.datetime(2023, 10, 17, 4, 29, 18, 634811, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 18, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:18', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/notariais/docsregiospontepisc.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/notariais/docsregiospontepisc.rpt', xml_url='/rest/exports/reference_sources/notariais/docsregiospontepisc.xml', import_status=None),
 KleioFile(path='reference_sources/roisdeconfessados/eiras-rol1.cli', name='eiras-rol1.cli', size=52584, directory='reference_sources/roisdeconfessados', modified=datetime.datetime(2023, 11, 29, 2, 20, 48, 349651, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 11, 29, 2, 20, 48, tzinfo=TzInfo(UTC)), modified_string='2023-11-29 02:20:48', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/roisdeconfessados/eiras-rol1.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 11, 29, 2, 20, tzinfo=TzInfo(UTC)), translated_string='2023-11-29T02:20:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/roisdeconfessados/eiras-rol1.rpt', xml_url='/rest/exports/reference_sources/roisdeconfessados/eiras-rol1.xml', import_status=None),
 KleioFile(path='reference_sources/roisdeconfessados/eiras-rol2.cli', name='eiras-rol2.cli', size=51851, directory='reference_sources/roisdeconfessados', modified=datetime.datetime(2023, 11, 29, 2, 20, 52, 160728, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 11, 29, 2, 20, 52, tzinfo=TzInfo(UTC)), modified_string='2023-11-29 02:20:52', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/roisdeconfessados/eiras-rol2.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 11, 29, 2, 20, tzinfo=TzInfo(UTC)), translated_string='2023-11-29T02:20:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/roisdeconfessados/eiras-rol2.rpt', xml_url='/rest/exports/reference_sources/roisdeconfessados/eiras-rol2.xml', import_status=None),
 KleioFile(path='reference_sources/roisdeconfessados/eiras-rol3.cli', name='eiras-rol3.cli', size=52776, directory='reference_sources/roisdeconfessados', modified=datetime.datetime(2023, 11, 29, 2, 20, 56, 453005, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 11, 29, 2, 20, 56, tzinfo=TzInfo(UTC)), modified_string='2023-11-29 02:20:56', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/roisdeconfessados/eiras-rol3.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 11, 29, 2, 20, tzinfo=TzInfo(UTC)), translated_string='2023-11-29T02:20:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/roisdeconfessados/eiras-rol3.rpt', xml_url='/rest/exports/reference_sources/roisdeconfessados/eiras-rol3.xml', import_status=None),
 KleioFile(path='reference_sources/varia/eleicoes1.cli', name='eleicoes1.cli', size=50693, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 29, 28, 225409, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 28, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:28', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/eleicoes1.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/eleicoes1.rpt', xml_url='/rest/exports/reference_sources/varia/eleicoes1.xml', import_status=None),
 KleioFile(path='reference_sources/varia/genealdiversas.cli', name='genealdiversas.cli', size=71568, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 29, 37, 843079, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 37, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:37', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/genealdiversas.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/genealdiversas.rpt', xml_url='/rest/exports/reference_sources/varia/genealdiversas.xml', import_status=None),
 KleioFile(path='reference_sources/varia/ivcc.cli', name='ivcc.cli', size=48446, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 29, 56, 661223, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 29, 56, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:29:56', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/ivcc.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 29, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:29:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/ivcc.rpt', xml_url='/rest/exports/reference_sources/varia/ivcc.xml', import_status=None),
 KleioFile(path='reference_sources/varia/lrazao516pe.cli', name='lrazao516pe.cli', size=165942, directory='reference_sources/varia', modified=datetime.datetime(2023, 10, 17, 4, 30, 26, 28008, tzinfo=TzInfo(UTC)), modified_iso=datetime.datetime(2023, 10, 17, 4, 30, 26, tzinfo=TzInfo(UTC)), modified_string='2023-10-17 04:30:26', qtime=datetime.datetime(1970, 1, 1, 0, 0, tzinfo=TzInfo(UTC)), qtime_string='1970-01-01 00:00:00', source_url='/rest/sources/reference_sources/varia/lrazao516pe.cli', status=<translation_status_enum.V: 'V'>, translated=datetime.datetime(2023, 10, 17, 4, 30, tzinfo=TzInfo(UTC)), translated_string='2023-10-17T04:30:00+00:00', errors=0, warnings=0, version='KleioTranslator - server version 12.0 - build 553 2023-09-27 16:03:59', rpt_url='/rest/reports/reference_sources/varia/lrazao516pe.rpt', xml_url='/rest/exports/reference_sources/varia/lrazao516pe.xml', import_status=None),

Check if the import status of the translated files

    I = "I" # imported
    E = "E" # imported with error
    W = "W" # imported with warnings no errors
    N = "N" # not imported
    U = "U" # translation updated need to reimport

In [7]:

need_import = db.get_import_status(ready_to_import, match_path=False)
for kfile in need_import:
    if kfile.import_status is None:
        istatus = "None"
    else:
        istatus = kfile.import_status.value
    print(istatus, kfile.path)
    # db.import_kleio_file(kfile.path, khome=khome)

I reference_sources/varia/Devedores.cli
I reference_sources/varia/auc-alunos-264605-A-140337-140771.cli
I reference_sources/varia/auc_cartulario18.cli
I reference_sources/paroquiais/baptismos/bapt1714.cli
I reference_sources/paroquiais/baptismos/bapteirasproblem1.cli
I reference_sources/paroquiais/baptismos/bapteirasproblem2.cli
I reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli
N reference_sources/paroquiais/casamentos/cas1714-1722.cli
N reference_sources/roisdeconfessados/coja-rol-1841.cli
N reference_sources/paroquiais/crisma/crisma1753.cli
N reference_sources/linked_data/dehergne-a.cli
N reference_sources/linked_data/dehergne-locations-1644.cli
N reference_sources/notariais/docsregiospontepisc.cli
N reference_sources/roisdeconfessados/eiras-rol1.cli
N reference_sources/roisdeconfessados/eiras-rol2.cli
N reference_sources/roisdeconfessados/eiras-rol3.cli
N reference_sources/varia/eleicoes1.cli
N reference_sources/varia/genealdiversas.cli
N reference_sources/varia/ivcc.cli
N reference_sources/varia/lrazao516pe.cli
N reference_sources/varia/misMesa.cli
N reference_sources/varia/mp758-santiago-beduido.cli
N reference_sources/notariais/notlousa1.cli
N reference_sources/paroquiais/obitos/obit1714.cli
N reference_sources/paroquiais/obitos/obitoShort.cli
N reference_sources/paroquiais/obitos/obitoShort_id.cli
N reference_sources/notariais/perdoes.cli
N reference_sources/varia/quotes.cli
N reference_sources/paroquiais/baptismos/rogeriodomingos_bap_problem.cli
N reference_sources/varia/sourecoimbrabispcoimbra_apontamentosd.cli
N reference_sources/paroquiais/obitos/testeParentescos.cli
N reference_sources/varia/vereacao.cli
N reference_sources/varia/xpto_comuns_soure.kleio

Import from Kleio Server

In [9]:
import pprint
from timelink.kleio.schemas import KleioFile
from timelink.kleio.importer import import_from_xml

valid = kserver.translation_status(path='',recurse='yes',status='V')
warnings = kserver.translation_status(path='',recurse='yes',status='W')
to_import = db.get_need_import(valid+warnings, match_path=False)

kfile: KleioFile

with db.session() as session:
    for kfile in to_import:
        print(kfile.status.value, kfile.path)
        try:
            stats = import_from_xml(kfile.xml_url, session=session,
                                    options={"return_stats": True,
                                             "kleio_token": token,
                                             "kleio_url": url,
                                             "mode":"TL"})
            pprint.pprint(stats)
        except Exception as e:
            print(f"Error: {e}")
            continue

V reference_sources/paroquiais/casamentos/cas1714-1722.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227250.964295,
 'entities_processed': 1909,
 'entity_rate': 20.37586328405393,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/casamentos/cas1714-1722.xml',
 'import_time_seconds': 93.6892819404602,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 4.707048563786162}
V reference_sources/roisdeconfessados/coja-rol-1841.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227344.670334,
 'entities_processed': 0,
 'entity_rate': 0.0,
 'errors': [],
 'file': '/rest/exports/reference_sources/roisdeconfessados/coja-rol-1841.xml',
 'import_time_seconds': 236.2267677783966,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/paroquiais/crisma/crisma1753.cli
Storing 1 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227580.913187,
 'entities_processed': 0,
 'entity_rate': 0.0,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/crisma/crisma1753.xml',
 'import_time_seconds': 1.7524499893188477,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/linked_data/dehergne-a.cli
Storing 11 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227582.680093,
 'entities_processed': 1672,
 'entity_rate': 44.30061206168578,
 'errors': [],
 'file': '/rest/exports/reference_sources/linked_data/dehergne-a.xml',
 'import_time_seconds': 37.74214220046997,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 3.046991858309728}
V reference_sources/linked_data/dehergne-locations-1644.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227620.437665,
 'entities_processed': 656,
 'entity_rate': 44.62198624466621,
 'errors': [],
 'file': '/rest/exports/reference_sources/linked_data/dehergne-locations-1644.xml',
 'import_time_seconds': 14.701272964477539,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/notariais/docsregiospontepisc.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for titulo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for resumo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227635.154396,
 'entities_processed': 0,
 'entity_rate': 0.0,
 'errors': [],
 'file': '/rest/exports/reference_sources/notariais/docsregiospontepisc.xml',
 'import_time_seconds': 1.1873579025268555,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/roisdeconfessados/eiras-rol1.cli
Storing 9 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227636.357343,
 'entities_processed': 2659,
 'entity_rate': 41.4468675309105,
 'errors': [],
 'file': '/rest/exports/reference_sources/roisdeconfessados/eiras-rol1.xml',
 'import_time_seconds': 64.15442609786987,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 10.100628115844303}
V reference_sources/roisdeconfessados/eiras-rol2.cli
Storing 3 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227700.528919,
 'entities_processed': 2643,
 'entity_rate': 42.85482744845407,
 'errors': [],
 'file': '/rest/exports/reference_sources/roisdeconfessados/eiras-rol2.xml',
 'import_time_seconds': 61.67333197593689,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 10.523186914130415}
V reference_sources/roisdeconfessados/eiras-rol3.cli
Storing 3 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227762.220165,
 'entities_processed': 2691,
 'entity_rate': 42.356158930951004,
 'errors': [],
 'file': '/rest/exports/reference_sources/roisdeconfessados/eiras-rol3.xml',
 'import_time_seconds': 63.53267312049866,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 10.246696196227834}
V reference_sources/varia/eleicoes1.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for fol. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

Storing 568 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227825.772159,
 'entities_processed': 1629,
 'entity_rate': 43.995244497475674,
 'errors': ['ERROR: eleicoes1.cli line 6 ** integrity error amz$amz1: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz1', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 83 ** integrity error amz$amz2: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz2', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 155 ** integrity error amz$amz3: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz3', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 229 ** integrity error amz$amz4: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz4', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 302 ** integrity error amz$amz5: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz5', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 374 ** integrity error amz$amz6: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz6', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 445 ** integrity error amz$amz7: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz7', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 490 ** integrity error amz$amz8: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz8', None, None, None, None, ' adiado para "
            'domingo seguinte a tarde por se encontrarem ausentes muitos '
            "irmaos')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 494 ** integrity error amz$amz9: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz9', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 575 ** integrity error amz$amz10: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz10', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 644 ** integrity error amz$amz11: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz11', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 714 ** integrity error amz$amz12: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz12', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 781 ** integrity error amz$amz13: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz13', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 851 ** integrity error amz$amz14: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz14', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 918 ** integrity error amz$amz15: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz15', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 986 ** integrity error amz$amz16: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz16', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1031 ** integrity error amz$amz17: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz17', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1075 ** integrity error amz$amz18: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz18', None, None, None, None, 'mantem a mesa do "
            "ano anterior')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1082 ** integrity error amz$amz19: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz19', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1139 ** integrity error amz$amz20: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz20', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1205 ** integrity error amz$amz21: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz21', None, None, None, None, 'eleicao que deve "
            "durar ate dia de santa isabel de 1715')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1273 ** integrity error amz$amz22: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz22', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1342 ** integrity error amz$amz23: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz23', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1410 ** integrity error amz$amz24: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz24', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1476 ** integrity error amz$amz25: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz25', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1544 ** integrity error amz$amz26: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz26', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1609 ** integrity error amz$amz27: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz27', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: eleicoes1.cli line 1675 ** integrity error amz$amz28: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz28', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)'],
 'file': '/rest/exports/reference_sources/varia/eleicoes1.xml',
 'import_time_seconds': 37.026729106903076,
 'machine': 'imac-pro-jrc',
 'nerrors': 28,
 'person_rate': 15.340269413484458}
V reference_sources/varia/genealdiversas.cli
Storing 26 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227862.820778,
 'entities_processed': 1656,
 'entity_rate': 45.466160323644544,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/genealdiversas.xml',
 'import_time_seconds': 36.4226930141449,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 8.923008517623476}
V reference_sources/varia/ivcc.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for resumo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

Storing 139 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227899.263076,
 'entities_processed': 595,
 'entity_rate': 41.57967833570582,
 'errors': ['ERROR: ivcc.cli line 76 ** integrity error '
            'viagem$ivc-francisco-xavier-his6-35: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-francisco-xavier-his6-35', None, '15400000', "
            'None, None, None)]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 81 ** integrity error '
            'viagem$ivc-francisco-xavier-his4-38: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-francisco-xavier-his4-38', None, '15410000', "
            'None, None, None)]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 97 ** integrity error '
            'viagem$ivc-simao-rodrigues-his7-35: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-simao-rodrigues-his7-35', None, '15400000', "
            "None, None, 'Viagem dos primeiros Jesuítas para Portugal')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 100 ** integrity error '
            'viagem$ivc-simao-rodrigues-his8-40: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-simao-rodrigues-his8-40', None, '15420609', "
            "None, None, 'chegou dia de Santo António, com 11 irmãos: um "
            'Valenciano, dois Franceses, dois Castelhanos, dois Italianos e '
            "três Portugueses (1 desistiu)')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 181 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his3-115: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his3-115', None, "
            "'15430000', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 193 ** integrity error '
            'viagem$imagem-virtude-v2-his1-18: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('imagem-virtude-v2-his1-18', None, '15500105', "
            "None, None, 'Santo Inácio chamou a Roma Simão Rodrigues e mandou "
            'que com ele fossem alguns teólogos, dos que "dessem de si mais '
            'esperanças" para "verem a Companhi ... (176 characters truncated) '
            '... que D. Francisco de Borja, que assim o pedia, e já naquele '
            'tempo era ocultamente da Companhia... p.10" Quando partiram '
            "vieram despedir-se 100 irmãos.')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 200 ** integrity error '
            'estadia$imagem-virtude-v2-his2-21: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('imagem-virtude-v2-his2-21', None, '15500100', "
            "None, None, 'sairam de Coimbra em 5 de Janeiro de 1550.')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 215 ** integrity error '
            'viagem$imagem-virtude-v2-his1-22: (sqlite3.IntegrityError) NOT '
            'NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('imagem-virtude-v2-his1-22', None, '15500100', "
            "None, None, 'Depois de estar em Gandia')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 223 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his1-56: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his1-56', None, '0', None, "
            'None, \'"lhe chegou ordem do Padre Mestre Simão que voltasse a '
            'Portugal, porquanto El-Rey sabendo de sua detença em Valença, e '
            'fruto raro que nela fazia, sig ... (75 characters truncated) ...  '
            'pera o Reino ao Padre Dom Gonçalo" ... "No mesmo dia que recebeu '
            'a ordem se por logo a caminhoi, sem mais lhe lembrar o desejo de '
            'ir a Roma", p. 11.\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 225 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his2-56: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his2-56', None, "
            "'15510000', None, None, 'p. 11')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 240 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his3-57: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his3-57', None, "
            '\'15511130\', None, None, \'"dia de Santo André"\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 259 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his5-61: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his5-61', None, "
            "'15520000', None, None, 'Inferred date > november 1551, remained "
            "6 months.')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 261 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his4-63: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his4-63', None, "
            '\'15531000\', None, None, \'"Tinha uma ou duas primas no paço..." '
            "p. 17')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 265 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his5-64: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his5-64', None, "
            '\'15560000\', None, None, \'"iam nesta viagem 13 da nossa '
            'companhia, repartidos em diversas naus". Arrival in Goa 6 '
            "september 1556')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 279 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his6-64: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his6-64', None, "
            "'15560725', None, None, 'dia de Santiago Maior até dia de S. "
            "Lourenço (10-Aug)')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 285 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his7-67: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his7-67', None, "
            "'15560906', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 297 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his6-68: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his6-68', None, "
            "'15560900', None, None, 'date? he write from Cochim on January "
            "1567')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 314 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his7-69: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his7-69', None, "
            "'15570100', None, None, 'data de carte escrita de Cochim')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 367 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his1-146: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his1-146', None, "
            '\'15570000\', None, None, \'"""\\n               Since they could '
            'not pass to Etiópia. Jesuits advise governor on new laws. These '
            'laws where later aproved by Queen Catarina as re ... (2089 '
            'characters truncated) ...  nossa fé; e os que tivessem tutores, '
            '\\n               ou curadores critãos, até serem '
            'emancipados.\\n               |fim cit.|\\n                  '
            '"""\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 384 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his2-80: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his2-80', None, "
            "'15580000', None, None, 'see event bio-alvaro-silveira-his3-4')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 406 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his1-85: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his1-85', None, "
            "'15580000', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 412 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his2-85: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his2-85', None, "
            "'15590000', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 426 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his3-85: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his3-85', None, "
            '\'15590000\', None, None, \'"""\\n            The king of '
            'Inhambane asks the portuguese capitan in Moçambique to provide '
            '\\n            some preachers to convert his people, inspi ... '
            '(215 characters truncated) ...         Upon arrival they forward '
            'the request to the Vice-Rei who in turn speaks to \\n            '
            'António Quadros, provincial of the Jesuits.p.27."""\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 450 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his1-91: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his1-91', None, "
            "'15591200', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 464 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his1-92: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his1-92', None, "
            '\'15600105\', None, None, \'"p.29 Letter from Gonçalo Silveira to '
            'António Quadros about the trip from Chaul to Moçambique january '
            '1560". Saw land the 2nd february "dia da Purificação da Virgem". '
            "Arrival 5 feb 1560')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 483 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his2-101: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his2-101', None, "
            "'15600200', None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 496 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his4-117: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his4-117', None, "
            "'15580000', None, None, 'Gonçalo da Silveira teria tido a visão "
            'que o irmão iria morrer no Golfo Pérsico e terá avisado o '
            'Vice-Rei Constantino de Bragança. Mas o Vice-Rei e o irmão '
            "ignoraram o aviso e o irmão morreu, na batalha de Bahrein.')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 508 ** integrity error '
            'estadia$ivc-goncalo-da-silveira-his3-118: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his3-118', None, "
            '\'15600212\', None, None, \' """With presentes from Pantaleão de '
            'Sá and Francisco Barreto. Together with \\n            the two '
            'Jesuits brothers and two other portuguese, un-name ... (93 '
            'characters truncated) ... dom. Baptized the \\n            King, '
            'queen and her sister and 500 more people. Built church dedicated '
            'to \\n            Nossa Senhora da Assunção."""\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 518 ** integrity error '
            'viagem$ivc-goncalo-da-silveira-his9-119: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his9-119', None, "
            "'15600900', None, None, 'com seis Portugueses e nenhum "
            "Jesuíta')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 538 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his5-123: (sqlite3.IntegrityError) '
            'NOT NULL constraint failed: acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his5-123', None, "
            '\'15610100\', None, None, \'"""\\n            Meeting with the '
            'King and his mother. António Caiado translates. Refuses gold '
            '\\n            and other riches. Shows imagem of Our lady that '
            'greatly impresses King. \\n            Offers imagem to King, '
            'builds oratory in the King\\\'s chambers for the image."""\')]\n'
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: ivcc.cli line 548 ** integrity error '
            'pevent$ivc-goncalo-da-silveira-his10-124: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('ivc-goncalo-da-silveira-his10-124', None, "
            '\'15610315\', None, None, \'"""\\n            Alguns mouros '
            'convencem o rei que o Padre é Grande Feiticeiro e vão virar o '
            '\\n            povo contra o rei. O Rei decide matá-lo. Tem pre '
            'monição, faz confissão \\n            pascal aos portugueses e '

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for fol. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

Storing 696 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701227995.039244,
 'entities_processed': 1633,
 'entity_rate': 31.808634810308284,
 'errors': ['ERROR: misMesa.cli line 6 ** integrity error amz$amz1: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz1', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 16 ** integrity error amz$amz2: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz2', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 18 ** integrity error amz$amz3: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz3', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 94 ** integrity error amz$amz4: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz4', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 96 ** integrity error amz$amz5: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz5', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 98 ** integrity error amz$amz6: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz6', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 100 ** integrity error amz$amz7: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz7', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 170 ** integrity error amz$amz8: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz8', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 172 ** integrity error amz$amz9: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz9', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 192 ** integrity error amz$amz10: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz10', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 264 ** integrity error amz$amz11: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz11', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 332 ** integrity error amz$amz12: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz12', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 403 ** integrity error amz$amz13: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz13', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 468 ** integrity error amz$amz15: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz15', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 470 ** integrity error amz$amz16: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz16', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 472 ** integrity error amz$amz17: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz17', None, None, None, None, 'dia de santa "
            "isabel as quatro horas da tarde')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 474 ** integrity error amz$amz18: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz18', None, None, None, None, 'dia de santa "
            "isabel')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 521 ** integrity error amz$amz19: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz19', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 523 ** integrity error amz$amz20: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz20', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 525 ** integrity error amz$amz21: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz21', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 527 ** integrity error amz$amz22: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz22', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 529 ** integrity error amz$amz23: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz23', None, None, None, None, 'dia de santa "
            "isabel')]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 531 ** integrity error amz$amz24: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz24', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 605 ** integrity error amz$amz25: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz25', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 614 ** integrity error amz$amz26: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz26', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 620 ** integrity error amz$amz27: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz27', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 626 ** integrity error amz$amz28: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz28', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 634 ** integrity error amz$amz29: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz29', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 636 ** integrity error amz$amz30: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz30', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 704 ** integrity error amz$amz31: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz31', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 706 ** integrity error amz$amz32: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz32', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 776 ** integrity error amz$amz33: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz33', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 782 ** integrity error amz$amz34: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz34', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 850 ** integrity error amz$amz35: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz35', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 917 ** integrity error amz$amz36: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz36', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 924 ** integrity error amz$amz37: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz37', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 926 ** integrity error amz$amz38: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz38', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 934 ** integrity error amz$amz39: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz39', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 939 ** integrity error amz$amz40: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz40', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1004 ** integrity error amz$amz41: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz41', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1013 ** integrity error amz$amz42: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz42', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1022 ** integrity error amz$amz43: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz43', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1024 ** integrity error amz$amz44: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz44', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1093 ** integrity error amz$amz45: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz45', None, None, None, None, None)]\n"
            '(Background on this error at: https://sqlalche.me/e/20/gkpj)',
            'ERROR: misMesa.cli line 1100 ** integrity error amz$amz46: '
            '(sqlite3.IntegrityError) NOT NULL constraint failed: '
            'acts.the_type\n'
            '[SQL: INSERT INTO acts (id, the_type, the_date, loc, ref, obs) '
            'VALUES (?, ?, ?, ?, ?, ?)]\n'
            "[parameters: ('amz46', None, None, None, None, None)]\n"

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for juro. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for moeda. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for forma. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for subtipo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for juro. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for moeda. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

Storing 41 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228048.182884,
 'entities_processed': 1665,
 'entity_rate': 39.02908840980431,
 'errors': [],
 'file': '/rest/exports/reference_sources/notariais/notlousa1.xml',
 'import_time_seconds': 42.660489082336426,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 9.7279709850263}
V reference_sources/paroquiais/obitos/obit1714.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228090.865758,
 'entities_processed': 280,
 'entity_rate': 43.99134126520029,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/obitos/obit1714.xml',
 'import_time_seconds': 6.364888906478882,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 6.1273653905100405}
V reference_sources/paroquiais/obitos/obitoShort.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228097.253802,
 'entities_processed': 19,
 'entity_rate': 38.71500339337774,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/obitos/obitoShort.xml',
 'import_time_seconds': 0.4907658100128174,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 6.112895272638591}
V reference_sources/paroquiais/obitos/obitoShort_id.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228097.767081,
 'entities_processed': 6,
 'entity_rate': 10.858739607622486,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/obitos/obitoShort_id.xml',
 'import_time_seconds': 0.5525503158569336,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/notariais/perdoes.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for tabeliao. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for forma. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for subtipo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for objecto. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for ocorrencia. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for tempo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for descricao. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for pronuncia. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for situacao. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

Storing 23 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228098.342234,
 'entities_processed': 1526,
 'entity_rate': 35.481987285528824,
 'errors': [],
 'file': '/rest/exports/reference_sources/notariais/perdoes.xml',
 'import_time_seconds': 43.00773763656616,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 6.6267145323563}
V reference_sources/varia/quotes.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228141.373741,
 'entities_processed': 5,
 'entity_rate': 27.159587597891107,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/quotes.xml',
 'import_time_seconds': 0.1840970516204834,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 5.431917519578222}
V reference_sources/paroquiais/baptismos/rogeriodomingos_bap_problem.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228141.580602,
 'entities_processed': 16,
 'entity_rate': 32.788492808005,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/baptismos/rogeriodomingos_bap_problem.xml',
 'import_time_seconds': 0.48797607421875,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 10.246404002501563}
V reference_sources/varia/sourecoimbrabispcoimbra_apontamentosd.cli
Storing 1 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228142.092281,
 'entities_processed': 34,
 'entity_rate': 36.908140083202674,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/sourecoimbrabispcoimbra_apontamentosd.xml',
 'import_time_seconds': 0.921205997467041,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.0}
V reference_sources/paroquiais/obitos/testeParentescos.cli
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228143.036102,
 'entities_processed': 49,
 'entity_rate': 35.9569931602931,
 'errors': [],
 'file': '/rest/exports/reference_sources/paroquiais/obitos/testeParentescos.xml',
 'import_time_seconds': 1.362739086151123,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 5.870529495558057}
V reference_sources/varia/vereacao.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for titulo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(
/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for resumo. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228144.42209,
 'entities_processed': 81,
 'entity_rate': 38.72789332698619,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/vereacao.xml',
 'import_time_seconds': 2.0915157794952393,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 8.606198517108043}
V reference_sources/varia/xpto_comuns_soure.kleio
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228146.537868,
 'entities_processed': 374,
 'entity_rate': 26.919720058333194,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/xpto_comuns_soure.xml',
 'import_time_seconds': 13.893160820007324,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 0.7917564723039174}
W reference_sources/varia/EmpFAfonso.cli

/Users/jrc/develop/timelink-py/timelink/kleio/groups/kgroup.py:755: UserWarning: Created a KElement class for fol. Better to create explicit or provide  synonyms= in group creation.
  warnings.warn(

{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228160.459046,
 'entities_processed': 716,
 'entity_rate': 38.209853526304066,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/EmpFAfonso.xml',
 'import_time_seconds': 18.738621950149536,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 6.777446086369576}
W reference_sources/varia/glopes-lap1561.cli
Storing 23 postponed relations
{'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'datetime': 1701228179.221485,
 'entities_processed': 6598,
 'entity_rate': 38.15324934977766,
 'errors': [],
 'file': '/rest/exports/reference_sources/varia/glopes-lap1561.xml',
 'import_time_seconds': 172.93415665626526,
 'machine': 'imac-pro-jrc',
 'nerrors': 0,
 'person_rate': 6.6152345038111005}

Import status after import

In [10]:
from typing import List
from timelink.api.models.system import KleioImportedFile

imported_files: List[KleioImportedFile] = db.get_imported_files()
ifile: KleioImportedFile

for ifile in imported_files:
    print(ifile.nerrors, ifile.nwarnings, ifile.path)

0 0 /kleio-home/reference_sources/varia/Devedores.cli
0 0 /kleio-home/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli
0 0 /kleio-home/reference_sources/varia/auc_cartulario18.cli
0 0 /kleio-home/reference_sources/paroquiais/baptismos/bapt1714.cli
0 0 /kleio-home/reference_sources/paroquiais/baptismos/bapteirasproblem1.cli
0 0 /kleio-home/reference_sources/paroquiais/baptismos/bapteirasproblem2.cli
0 0 /kleio-home/reference_sources/paroquiais/casamentos/cas1714-1722-com-celebrante.cli
0 0 /kleio-home/reference_sources/paroquiais/casamentos/cas1714-1722.cli
0 0 /kleio-home/reference_sources/roisdeconfessados/coja-rol-1841.cli
0 0 /kleio-home/reference_sources/paroquiais/crisma/crisma1753.cli
0 0 /kleio-home/reference_sources/linked_data/dehergne-a.cli
0 0 /kleio-home/reference_sources/linked_data/dehergne-locations-1644.cli
0 0 /kleio-home/reference_sources/notariais/docsregiospontepisc.cli
0 0 /kleio-home/reference_sources/roisdeconfessados/eiras-rol1.cli
0 0 /kleio-home/reference_sources/roisdeconfessados/eiras-rol2.cli
0 0 /kleio-home/reference_sources/roisdeconfessados/eiras-rol3.cli
28 0 /kleio-home/reference_sources/varia/eleicoes1.cli
0 0 /kleio-home/reference_sources/varia/genealdiversas.cli
47 0 /kleio-home/reference_sources/varia/ivcc.cli
0 0 /kleio-home/reference_sources/varia/lrazao516pe.cli
83 0 /kleio-home/reference_sources/varia/misMesa.cli
0 0 /kleio-home/reference_sources/varia/mp758-santiago-beduido.cli
0 0 /kleio-home/reference_sources/notariais/notlousa1.cli
0 0 /kleio-home/reference_sources/paroquiais/obitos/obit1714.cli
0 0 /kleio-home/reference_sources/paroquiais/obitos/obitoShort.cli
0 0 /kleio-home/reference_sources/paroquiais/obitos/obitoShort_id.cli
0 0 /kleio-home/reference_sources/notariais/perdoes.cli
0 0 /kleio-home/reference_sources/varia/quotes.cli
0 0 /kleio-home/reference_sources/paroquiais/baptismos/rogeriodomingos_bap_problem.cli
0 0 /kleio-home/reference_sources/varia/sourecoimbrabispcoimbra_apontamentosd.cli
0 0 /kleio-home/reference_sources/paroquiais/obitos/testeParentescos.cli
0 0 /kleio-home/reference_sources/varia/vereacao.cli
0 0 /kleio-home/reference_sources/varia/xpto_comuns_soure.kleio
0 0 /kleio-home/reference_sources/varia/EmpFAfonso.cli
0 0 /kleio-home/reference_sources/varia/glopes-lap1561.cli


# Obter dados
---

# Getting data



###  Obter um dataframe a partir de atributos

---


###  Get a Dataframe from attributes

In [34]:
from timelink.api.models import Person

with db.session() as session:
    persons = session.query(Person).filter_by(name='maria').all()
    for person in persons:
        print(person.to_kleio())
        print()

n$maria/f/id=b1685.1-per1
  rel$function-in-act/n/b1685.1/16850708
  pai$manuel madeira/m/id=b1685.1-per1-per2
    rel$function-in-act/pai/b1685.1/16850708
    ls$residencia/alencarce/16850708
  mae$domingas joao/f/id=b1685.1-per1-per3
    rel$function-in-act/mae/b1685.1/16850708
  pad$antonio jorge/m/id=b1685.1-per4
    rel$function-in-act/pad/b1685.1/16850708
    ls$residencia/alencarce/16850708
  mad$maria/f/id=b1685.1-per5
    rel$function-in-act/mad/b1685.1/16850708
    ls$ec/s/16850708
    ls$residencia/alencarce/16850708

mad$maria/f/id=b1685.1-per5
  rel$function-in-act/mad/b1685.1/16850708
  ls$ec/s/16850708
  ls$residencia/alencarce/16850708

n$maria/f/id=b1685.2-per1
  rel$function-in-act/n/b1685.2/16850728
  pai$matias rodrigues/m/id=b1685.2-per1-per2
    rel$function-in-act/pai/b1685.2/16850728
    ls$residencia/casa velha/16850728
  mae$maria donana?/f/id=b1685.2-per1-per3
    rel$function-in-act/mae/b1685.2/16850728
  pad$antonio da fonseca/m/id=b1685.2-per4
    rel$function-in-act/pad/b1685.2/16850728
    ls$residencia/cumieira, freguesia de Penela/16850728
    ls$freguesia/penela/16850728
  mad$maria pereira/f/id=b1685.2-per5
    rel$function-in-act/mad/b1685.2/16850728
    pmad$manuel simoes/m/id=b1685.2-per6
      rel$function-in-act/pmad/b1685.2/16850728
      ls$residencia/casa velha/16850728

mad$maria/f/id=b1685.6-per5
  rel$function-in-act/mad/b1685.6/16850827
  ls$ec/s/16850827
  pmad$calvo/m/id=b1685.6-per6
    rel$function-in-act/pmad/b1685.6/16850827
    ls$residencia/casa velha/16850827

n$maria/f/id=b1685.10-per1
  rel$function-in-act/n/b1685.10/16850912
  pai$matias de carvalho/m/id=b1685.10-per1-per2
    rel$function-in-act/pai/b1685.10/16850912
    ls$residencia/soure/16850912
  mae$ana velho/f/id=b1685.10-per1-per3
    rel$function-in-act/mae/b1685.10/16850912
  pad$pedro de brito de ataide/m/id=b1685.10-per4
    rel$function-in-act/pad/b1685.10/16850912
    ls$residencia/quinta da capa rota/16850912

n$maria/f/id=b1685.12-per1
  rel$function-in-act/n/b1685.12/16850923
  pai$manuel rodrigues claro/m/id=b1685.12-per1-per2
    rel$function-in-act/pai/b1685.12/16850923
    ls$residencia/alencarce/16850923
    ls$morto/antes/16850923
  mae$maria alves/f/id=b1685.12-per1-per3
    rel$function-in-act/mae/b1685.12/16850923
    ls$ec/v/16850923
    ls$residencia/alencarce/16850923

n$maria/f/id=b1685.16-per1
  rel$function-in-act/n/b1685.16/16851014
  pai$manuel jorge/m/id=b1685.16-per1-per2
    rel$function-in-act/pai/b1685.16/16851014
    ls$residencia/sobral/16851014
  mae$maria cordeiro/f/id=b1685.16-per1-per3
    rel$function-in-act/mae/b1685.16/16851014
  pad$manuel simoes/m/id=b1685.16-per4
    rel$function-in-act/pad/b1685.16/16851014
    ls$residencia/sobral/16851014
  mad$maria cordeiro/f/id=b1685.16-per5
    rel$function-in-act/mad/b1685.16/16851014
    ls$residencia/sobral/16851014

n$maria/f/id=b1685.21-per1
  rel$function-in-act/n/b1685.21/16851104
  pai$manuel de oliveira/m/id=b1685.21-per1-per2
    rel$function-in-act/pai/b1685.21/16851104
    ls$residencia/lajem/16851104
  mae$maria lopes/f/id=b1685.21-per1-per3
    rel$function-in-act/mae/b1685.21/16851104
  pad$manuel rodrigues/m/id=b1685.21-per4
    rel$function-in-act/pad/b1685.21/16851104
  mad$ines ?/f/id=b1685.21-per5
    rel$function-in-act/mad/b1685.21/16851104
    mrmad$manuel de tavora/m/id=b1685.21-per6
      rel$function-in-act/mrmad/b1685.21/16851104
      ls$residencia/soure/16851104

n$maria/f/id=b1685.25-per1
  rel$function-in-act/n/b1685.25/16851118
  pai$joao rodrigues/m/id=b1685.25-per1-per2
    rel$function-in-act/pai/b1685.25/16851118
    ls$residencia/alencarce de baixo/16851118
  mae$isabel cardoso/f/id=b1685.25-per1-per3
    rel$function-in-act/mae/b1685.25/16851118
  pad$manuel goncalves/m/id=b1685.25.4
    rel$function-in-act/pad/b1685.25/16851118
    ls$residencia/alencarce/16851118
  mad$maria/f/id=b1685.25-per4
    rel$function-in-act/mad/b1685.25/16851118
    rel$parentesco/filha/manuel goncalves/b1685.25.4/16851118

mad$maria/f/id=b1685.25-per4
  rel$function-in-act/mad/b1685.25/16851118
  rel$parentesco/filha/manuel goncalves/b1685.25.4/16851118

n$maria/f/id=b1685.27b.1
  rel$function-in-act/n/b1685.27b/16851125
  pai$manuel francisco/m/id=b1685.27b.1-per1
    rel$function-in-act/pai/b1685.27b/16851125
    ls$residencia/casal das galinhas/16851125
  mae$ana jorge/f/id=b1685.27b.1-per2
    rel$function-in-act/mae/b1685.27b/16851125
  pad$joao da costa de vasconcelos/m/id=b1685.27b-per3
    rel$function-in-act/pad/b1685.27b/16851125
  mad$helena/f/id=b1685.27b-per4
    rel$function-in-act/mad/b1685.27b/16851125
    ls$titulo/dona/16851125
    pmad$paulo ribeiro cabral/m/id=b1685.27b-per5
      rel$function-in-act/pmad/b1685.27b/16851125

mad$maria/f/id=b1685.33-per5
  rel$function-in-act/mad/b1685.33/16851226
  ls$ec/s/16851226
  pmad$domingos goncalves vargas/m/id=b1685.33-per6
    rel$function-in-act/pmad/b1685.33/16851226
    ls$residencia/casal de vale da borra/16851226

In [3]:
from timelinknb.pandas import attribute_to_df


# Get list of people with with a certain value in a specific attribute
df = attribute_to_df(
                    the_type='naturalidade',
                    the_value='Coimbra',
                    person_info=True,
                    more_cols=['faculdade','uc-entrada','uc-saida','grau'],
                    sql_echo=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8543 entries, 127765 to 355146
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               8543 non-null   object
 1   sex                8543 non-null   object
 2   naturalidade       8543 non-null   object
 3   naturalidade.date  8543 non-null   object
 4   naturalidade.obs   2 non-null      object
 5   faculdade          8282 non-null   object
 6   faculdade.date     8282 non-null   object
 7   faculdade.obs      8282 non-null   object
 8   uc-entrada         8543 non-null   object
 9   uc-entrada.date    8543 non-null   object
 10  uc-entrada.obs     0 non-null      object
 11  uc-saida           8543 non-null   object
 12  uc-saida.date      8543 non-null   object
 13  uc-saida.obs       0 non-null      object
 14  grau               4901 non-null   object
 15  grau.date          4901 non-null   object
 16  grau.obs           4901 non-null   object
dtypes: object(17)
memory usage: 1.2+ MB

In [4]:
df.head(5)

,name,sex,naturalidade,naturalidade.date,naturalidade.obs,faculdade,faculdade.date,faculdade.obs,uc-entrada,uc-entrada.date,uc-entrada.obs,uc-saida,uc-saida.date,uc-saida.obs,grau,grau.date,grau.obs
id,,,,,,,,,,,,,,,,,
127765,André Vaz Cabaço,m,Coimbra,0000-00-00,None,NaN,NaN,NaN,0000-00-00,0000-00-00,None,0000-00-00,0000-00-00,None,NaN,NaN,NaN
127815,Aires Tavares Cabral,m,Coimbra,1847-10-19,None,Direito,1847-10-19,Direito,1847-10-19,1847-10-19,None,1850-06-08,1850-06-08,None,NaN,NaN,NaN
127822,André da Veiga Cabral,m,Coimbra,1663-01-02,None,Cânones,1663-01-02,Cânones,1663-01-02,1663-01-02,None,1665-10-29,1665-10-29,None,NaN,NaN,NaN
128131,Cassiano Tomás Cabral,m,Coimbra,1817-10-20,None,Filosofia,1817-10-20,Filosofia,1817-10-20,1817-10-20,None,1817-10-20,1817-10-20,None,NaN,NaN,NaN
128132,Cipriano Tavares Cabral,m,Coimbra,1817-10-18,None,Matemática,1817-10-18,Matemática,1817-10-18,1817-10-18,None,1817-10-18,1817-10-18,None,NaN,NaN,NaN



###  Remover colunas sem valores

---



###  Remove empty columns

In [5]:
df.dropna(how='all', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8543 entries, 127765 to 355146
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               8543 non-null   object
 1   sex                8543 non-null   object
 2   naturalidade       8543 non-null   object
 3   naturalidade.date  8543 non-null   object
 4   naturalidade.obs   2 non-null      object
 5   faculdade          8282 non-null   object
 6   faculdade.date     8282 non-null   object
 7   faculdade.obs      8282 non-null   object
 8   uc-entrada         8543 non-null   object
 9   uc-entrada.date    8543 non-null   object
 10  uc-saida           8543 non-null   object
 11  uc-saida.date      8543 non-null   object
 12  grau               4901 non-null   object
 13  grau.date          4901 non-null   object
 14  grau.obs           4901 non-null   object
dtypes: object(15)
memory usage: 1.0+ MB


###  Remover as remissivas
---

###  Remove cross-references

In [6]:
no_crossref = df['uc-entrada'] != '0000-00-00'
df = df[no_crossref]

In [7]:
view_cols = ['name','naturalidade','faculdade','grau','grau.date','uc-entrada','uc-saida']
df[view_cols].head(10)

,name,naturalidade,faculdade,grau,grau.date,uc-entrada,uc-saida
id,,,,,,,
127815,Aires Tavares Cabral,Coimbra,Direito,NaN,NaN,1847-10-19,1850-06-08
127822,André da Veiga Cabral,Coimbra,Cânones,NaN,NaN,1663-01-02,1665-10-29
128131,Cassiano Tomás Cabral,Coimbra,Filosofia,NaN,NaN,1817-10-20,1817-10-20
128132,Cipriano Tavares Cabral,Coimbra,Matemática,NaN,NaN,1817-10-18,1817-10-18
128133,Claúdio Tavares Cabral,Coimbra,Filosofia,NaN,NaN,1820-11-15,1820-11-15
128151,Estevão Nogueira Cabral,Coimbra,Leis,NaN,NaN,1580-03-20,1580-03-20
128265,António Dias Cabreira,Coimbra,Cânones,Bacharel em Leis,1650-07-01,1645-01-24,1660-10-14
128265,António Dias Cabreira,Coimbra,Cânones,Formatura em Cânones,1659-10-03,1645-01-24,1660-10-14
128265,António Dias Cabreira,Coimbra,Leis,Bacharel em Leis,1650-07-01,1645-01-24,1660-10-14
128265,António Dias Cabreira,Coimbra,Leis,Formatura em Cânones,1659-10-03,1645-01-24,1660-10-14


## Contagens

---

## Counting


###  Contagem de atributos a partir de uma tabela em memória
 
---

###  Count attributes from an existing dataframe

In [8]:
# create a column with the index values which are the id numbers
df['id'] = df.index.values

col = 'faculdade' # subotal by this column

# Use pandas groupby and specify unique value count for id
df_totals = df.groupby(col).agg({'id':'nunique',
                                                  'uc-entrada':'min',
                                                  'uc-saida':'max'})

df_totals.sort_values('id',ascending= False).head(30)

                                      id  uc-entrada    uc-saida
faculdade
Cânones                             2577  1537-00-00  1835-07-20
Medicina                             826  1537-12-17  1909-10-04
Teologia                             534  1540-01-27  1906-10-09
Leis                                 532  1537-05-12  1835-06-14
Cursos jurídicos (Cânones ou Leis)   418  1537-00-00  1835-10-14
Direito                              295  1822-10-31  1919-10-08
Artes                                268  1537-00-00  1780-10-12
Matemática                           229  1593-02-05  1910-10-15
Filosofia                            144  1770-10-01  1910-10-15
(?)                                   17  1587-10-18  1756-10-01
(Coimbra)                              4  1569-11-20  1853-05-27
(Cânones)                              3  1825-10-24  1899-10-12
(.)                                    2  1658-10-01  1750-10-01
(Leis)                                 2  1835-06-20  1840-02-06
(Tentativa)                            1  1765-10-01  1771-07-31
(Telogia)                              1  1664-10-01  1676-11-09
(Medecina)                             1  1760-02-04  1771-07-30
(Fiosofia)                             1  1789-10-06  1801-10-30
(Filosogia)                            1  1779-11-06  1786-10-16
(Filosfia)                             1  1880-06-08  1882-10-13
código                                 1  1540-00-00  1540-00-00

 
### Contagens na base de dados

Quando o atributo tem muitos valores e não é necessário
ter todas as pessoas em memória: contagem feita na base de dados

---

### Counting directly in the database
When there are many values and it is not 
necessary to have all the people in memory:
count directly in the database.

In [9]:
from timelinknb.pandas import attribute_values

df_totals = attribute_values('grau')

In [10]:
df_totals.head(10)

                                                count     date_in    date_max
value
Bacharel em Cânones                             21744  0000-00-00  2204-00-00
Formatura em Cânones                            18823  0617-00-00  2761-05-25
Bacharel em Artes                                6343  0000-00-00  1977-03-15
Bacharel em Leis                                 5963  0412-00-00  7150-01-20
Formatura em Leis                                5066  0517-00-00  6178-00-00
Bacharel em Direito                              4848  1740-03-07  1972-06-06
Formatura em Direito                             4597  0707-00-00  2904-07-08
Licenciado em Artes                              2936  0000-00-00  1785-04-06
Formatura em Medicina                            2299  1554-05-31  1904-07-30
Bacharel em Cursos jurídicos (Cânones ou Leis)   2210  1579-06-09  3787-07-03

#### Filtrar por datas

Para evitar remissivas com data zero

---

#### Filter by dates 

Avoid cross-references with zero date

In [11]:
df_totals = attribute_values('grau',dates_between=('1535','1919'))

In [12]:
df_totals.head(10)

                                                count     date_in    date_max
value
Bacharel em Cânones                             21735  1537-06-26  1912-06-06
Formatura em Cânones                            18810  1564-11-02  1880-05-28
Bacharel em Artes                                6336  1540-00-00  1872-05-18
Bacharel em Leis                                 5959  1537-12-18  1892-07-30
Formatura em Leis                                5061  1566-12-12  1912-06-25
Bacharel em Direito                              4831  1740-03-07  1917-11-03
Formatura em Direito                             4591  1733-03-28  1915-07-04
Licenciado em Artes                              2932  1540-04-14  1785-04-06
Formatura em Medicina                            2299  1554-05-31  1904-07-30
Bacharel em Cursos jurídicos (Cânones ou Leis)   2209  1579-06-09  1915-11-25

## Visualizar registos

---

## View records

### Visualizar uma pessoa

---

### View a person

#### Atributos de uma pessoa numa tabela, uma linha por attributo

---

#### Person attributes in a dataframe, one line per attribute

In [13]:
import pandas as pd
from timelinknb.pandas import group_attributes as person_attributes

pd.set_option('display.max_rows',1000)

id = '316297'
pdf = person_attributes([id])  # note id in a list
pdf[['date','type','value','attr_obs']].sort_values(['date','type'])

,date,type,value,attr_obs
id,,,,
316297,1774-11-15,faculdade,Cânones,Faculdade corrigida
316297,1774-11-15,faculdade-original,Direito - Cânones,None
316297,1774-11-15,faculdade.ano,Cânones.1774,Faculdade corrigida
316297,1774-11-15,matricula-classe,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,1774-11-15,matricula-classe.ano,"Curso jurídico, 1º ano.1774","Vol. III, L. I, fl. 20v."
316297,1774-11-15,matricula-curso,Curso jurídico,"Vol. III, L. I, fl. 20v."
316297,1774-11-15,matricula-curso.ano,Curso jurídico.1774,"Vol. III, L. I, fl. 20v."
316297,1774-11-15,naturalidade,Porto,None
316297,1774-11-15,naturalidade.ano,Porto.1774,None
316297,1774-11-15,nome,João Pedro Ribeiro,None
316297,1774-11-15,nome-apelido,Pedro Ribeiro,None
316297,1774-11-15,nome-apelido,Ribeiro,None
316297,1774-11-15,nome-geografico,Porto,None
316297,1774-11-15,nome-geografico.ano,Porto.1774,None
316297,1774-11-15,nome-pai,Pedro do Rosário Ribeiro,None
316297,1774-11-15,nome-primeiro,João,None
316297,1774-11-15,uc-entrada,1774-11-15,None
316297,1774-11-15,uc-entrada.ano,1774,None
316297,1775-00-00,matricula-classe,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,1775-00-00,matricula-classe,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-classe.ano,"Curso jurídico, 2º ano.1775","Vol. IV, L. I, fl. 48"
316297,1775-00-00,matricula-classe.ano,"Matemática, 1º ano.1775","Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-classe.obrigado,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-classe.obrigado.ano,"Matemática, 1º ano.1775","Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-curso,Curso jurídico,"Vol. IV, L. I, fl. 48"
316297,1775-00-00,matricula-curso.ano,Curso jurídico.1775,"Vol. IV, L. I, fl. 48"
316297,1775-00-00,matricula-faculdade,Matemática,"Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-faculdade.ano,Matemática.1775,"Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-faculdade.obrigado,Matemática,"Vol. IV, L. 4, fl. 48"
316297,1775-00-00,matricula-faculdade.obrigado.ano,Matemática.1775,"Vol. IV, L. 4, fl. 48"
316297,1776-10-08,matricula-classe,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-classe.ano,"Matemática, 1º ano.1776","Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-classe.obrigado,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-classe.obrigado.ano,"Matemática, 1º ano.1776","Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-faculdade,Matemática,"Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-faculdade.ano,Matemática.1776,"Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-faculdade.obrigado,Matemática,"Vol. V, L. IV, fl. 12v."
316297,1776-10-08,matricula-faculdade.obrigado.ano,Matemática.1776,"Vol. V, L. IV, fl. 12v."
316297,1776-10-18,matricula-classe,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,1776-10-18,matricula-classe.ano,"Curso jurídico, 2º ano.1776","Vol. V, L. I, fl. 35v."
316297,1776-10-18,matricula-curso,Curso jurídico,"Vol. V, L. I, fl. 35v."
316297,1776-10-18,matricula-curso.ano,Curso jurídico.1776,"Vol. V, L. I, fl. 35v."
316297,1777-10-06,matricula-classe,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,1777-10-06,matricula-classe.ano,"Cânones, 3º ano.1777","Vol. VI, fl. 10"
316297,1777-10-06,matricula-faculdade,Cânones,"Vol. VI, fl. 10"
316297,1777-10-06,matricula-faculdade.ano,Cânones.1777,"Vol. VI, fl. 10"
316297,1777-10-16,matricula-classe,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,1777-10-16,matricula-classe.ano,"Filosofia, 1º ano.1777","Vol. VI, L. VI, fl. 13"
316297,1777-10-16,matricula-faculdade,Filosofia,"Vol. VI, L. VI, fl. 13"
316297,1777-10-16,matricula-faculdade.ano,Filosofia.1777,"Vol. VI, L. VI, fl. 13"
316297,1778-05-16,exame,Exames3.º,"Aprovado Nemine Discrepante, Atos n.º 1, fl. 211"
316297,1778-10-02,matricula-classe,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,1778-10-02,matricula-classe.ano,"Cânones, 4º ano.1778","Vol VII, L. 2, fl. 26"
316297,1778-10-02,matricula-faculdade,Cânones,"Vol VII, L. 2, fl. 26"
316297,1778-10-02,matricula-faculdade.ano,Cânones.1778,"Vol VII, L. 2, fl. 26"
316297,1779-10-21,exame,ExamesBacharel e grau,"Aprovado Nemine Discrepante, Atos n.º 1, fl. 2..."
316297,1779-10-21,grau,Bacharel em Cânones,Bacharel e grau 21.10.1779 Aprovado Nemine Dis...
316297,1779-10-21,grau.ano,Bacharel em Cânones.1779,Bacharel e grau 21.10.1779 Aprovado Nemine Dis...
316297,1779-11-03,matricula-classe,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,1779-11-03,matricula-classe.ano,"Cânones, 5º ano.1779","Vol. VII, L. 2, fl. 42"
316297,1779-11-03,matricula-faculdade,Cânones,"Vol. VII, L. 2, fl. 42"
316297,1779-11-03,matricula-faculdade.ano,Cânones.1779,"Vol. VII, L. 2, fl. 42"
316297,1780-11-27,matricula-classe,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,1780-11-27,matricula-classe.ano,"Cânones, 6º ano.1780","Vol IX, L. 3, fl. 73"
316297,1780-11-27,matricula-faculdade,Cânones,"Vol IX, L. 3, fl. 73"
316297,1780-11-27,matricula-faculdade.ano,Cânones.1780,"Vol IX, L. 3, fl. 73"
316297,1781-03-20,exame,ExamesRepetição,"Atos grandes n.º 1, fl. 5"
316297,1781-04-30,exame,ExamesExame privado e grau de Licenciado,"Atos grandes n.º 1, fl. 82"
316297,1781-04-30,grau,Licenciado em Cânones,"Exame privado e grau de Licenciado 30.04.1781,..."
316297,1781-04-30,grau.ano,Licenciado em Cânones.1781,"Exame privado e grau de Licenciado 30.04.1781,..."
316297,1781-05-06,exame,ExamesDoutoramento,"Atos grandes n.º 1, fl. 151"
316297,1781-05-06,grau,Doutor em Cânones,"Doutoramento 06.05.1781, Atos grandes n.º 1, f..."
316297,1781-05-06,grau.ano,Doutor em Cânones.1781,"Doutoramento 06.05.1781, Atos grandes n.º 1, f..."
316297,1781-05-06,uc-saida,1781-05-06,None
316297,1781-05-06,uc-saida.ano,1781,None
316297,2021-05-14,código-de-referência,PT/AUC/ELU/UC-AUC/B/001-001/R/005692,None
316297,2021-05-14,data-do-registo,2021-05-14,None
316297,2021-05-14,url,https://pesquisa.auc.uc.pt/details?id=316297,None
316297,2022-05-13,nota-processamento,Aviso: faculdade corrigida,Direito - Cânones para Cânones.

#### Atributos de uma pessoa numa tabela, attributos em colunas

---

#### Person attributes in a dataframe, attributes in columns

In [14]:
# Get list of people with with a certain value in a specific attribute

id = '316297'  # João Pedro Ribeiro
# id = '234295'  # Alexandre Metelo de Sousa
df = attribute_to_df(
                    the_type='uc-entrada',  # we need a base attribute
                    person_info=True,
                    more_cols=['instituta','matricula-faculdade','matricula-classe'],
                    filter_by=[id],
                    sql_echo=False)
view_cols = ['name','matricula-classe.date','matricula-classe','matricula-classe.obs']
df[view_cols].sort_values('matricula-classe.date')

,name,matricula-classe.date,matricula-classe,matricula-classe.obs
id,,,,
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1774-11-15,"Curso jurídico, 1º ano","Vol. III, L. I, fl. 20v."
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Curso jurídico, 2º ano","Vol. IV, L. I, fl. 48"
316297,João Pedro Ribeiro,1775-00-00,"Matemática, 1º ano","Vol. IV, L. 4, fl. 48"
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-08,"Matemática, 1º ano","Vol. V, L. IV, fl. 12v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1776-10-18,"Curso jurídico, 2º ano","Vol. V, L. I, fl. 35v."
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-06,"Cânones, 3º ano","Vol. VI, fl. 10"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1777-10-16,"Filosofia, 1º ano","Vol. VI, L. VI, fl. 13"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1778-10-02,"Cânones, 4º ano","Vol VII, L. 2, fl. 26"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1779-11-03,"Cânones, 5º ano","Vol. VII, L. 2, fl. 42"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"
316297,João Pedro Ribeiro,1780-11-27,"Cânones, 6º ano","Vol IX, L. 3, fl. 73"

#### Examinar potenciais duplicados

---

#### Examine potentital duplicates

In [15]:
from timelinknb.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['234295','234710',]  # Alexandre Metelo de

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

#### Notação Kleio

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation

See [Kleio notation](README_kleio.md)

In [5]:
from ucalumni.aluno import get_and_process_aluno
from ucalumni.mapping import map_aluno_kperson

from ucalumni.extractors import get_extractors

get_extractors()

id =  '234295'  #'316297'

aluno = get_and_process_aluno(id,db)
kaluno = map_aluno_kperson(aluno)
kleio = kaluno.to_kleio()

print(kleio)

n$Alexandre Metelo de Sousa/m/id=234295/obs="""

      Id: 234295
      Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/S/010952

      Nome        : Alexandre Metelo de Sousa
      Data inicial: 1704-11-07
      Data final  : 1706-10-01
      Filiação:
      Naturalidade: Marialva
      Faculdade: Cânones

      Matrícula(s): 24.10.1705
      01.10.1706

      Instituta: 07.11.1704
  """
 atr$código-de-referência/"PT/AUC/ELU/UC-AUC/B/001-001/S/010952"/2022-06-08
 atr$data-do-registo/2022-06-08/2022-06-08
 atr$url/"http://pesquisa.auc.uc.pt/details?id=234295"/2022-06-08
 ls$uc-entrada/1704-11-07/1704-11-07
 ls$uc-saida/1706-10-01/1706-10-01
 ls$uc-entrada.ano/1704/1704-11-07
 ls$uc-saida.ano/1706/1706-10-01
 ls$nome/Alexandre Metelo de Sousa/1704-11-07
 ls$nome-primeiro/Alexandre/1704-11-07
 ls$nome-apelido/Metelo de Sousa/1704-11-07
 ls$nome-apelido/Sousa/1704-11-07
 ls$nome-geografico/Marialva/1704-11-07
 ls$nome-geografico.ano/Marialva.1704/1704-11-07
 ls$naturalidade/Marialva/1704-11-07
 ls$naturalidade.ano/Marialva.1704/1704-11-07
 ls$faculdade/Cânones/1704-11-07/obs=Cânones
 ls$faculdade.ano/Cânones.1704/1704-11-07/obs=Cânones
 ls$matricula-faculdade/Cânones/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade.ano/Cânones.1705/1705-10-24/obs=24.10.1705
 ls$matricula-faculdade/Cânones/1706-10-01/obs=01.10.1706
 ls$matricula-faculdade.ano/Cânones.1706/1706-10-01/obs=01.10.1706
 ls$instituta/1704-11-07/1704-11-07/obs=07.11.1704 1704-11-07
 ls$instituta.ano/1704/1704-11-07/obs=07.11.1704 1704-11-07

#### Notação Kleio directamente da base de dados

Ver [Kleio notation](README_kleio.md) [EN]

---

#### Kleio notation directly from database

See [Kleio notation](README_kleio.md)

In [11]:
from ucalumni.config import Session
from timelink.mhk.models.person import Person

with Session(bind=db.get_engine()) as session:

    p: Person = session.query(Person).order_by(Person.id).first()
    k = p.to_kleio()
    print(p.to_kleio())

n$Manuel Barreto Cabaça/m/id=127764/obs="""

      Id: 127764
      Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/C/000001

      Nome        : Manuel Barreto Cabaça
      Data inicial: 1690-10-01
      Data final  : 1697-10-01
      Filiação: Manuel Barreto
      Naturalidade: Portalegre

      Faculdade: Cânones
      Instituta:01.10.1690
      Matrícula(s): 01.10.1690
      01.10.1691
      01.10.1692
      01.10.1693
      01.10.1694
      01.10.1695
      01.10.1696
      01.10.1697

      Bacharel - 26.05.1696
      Formatura - 20.11.1697
  """
  rel$parentesco/filho/Manuel Barreto/127764-pai/1690-10-01
  rel$function-in-act/n/C/
  atr$código-de-referência/"PT/AUC/ELU/UC-AUC/B/001-001/C/000001"/2021-05-13
  atr$data-do-registo/2021-05-13/2021-05-13
  atr$url/"https://pesquisa.auc.uc.pt/details?id=127764"/2021-05-13
  ls$uc-entrada/1690-10-01/1690-10-01
  ls$uc-saida/1697-10-01/1697-10-01
  ls$uc-entrada.ano/1690/1690-10-01
  ls$uc-saida.ano/1697/1697-10-01
  ls$nome/Manuel Barreto Cabaça/1690-10-01
  ls$nome-primeiro/Manuel/1690-10-01
  ls$nome-apelido/Barreto Cabaça/1690-10-01
  ls$nome-apelido/Cabaça/1690-10-01
  ls$nome-pai/Manuel Barreto/1690-10-01
  ls$nome-geografico/Portalegre/1690-10-01
  ls$nome-geografico.ano/Portalegre.1690/1690-10-01
  ls$naturalidade/Portalegre/1690-10-01
  ls$naturalidade.ano/Portalegre.1690/1690-10-01
  ls$faculdade/Cânones/1690-10-01/obs=Cânones
  ls$faculdade.ano/Cânones.1690/1690-10-01/obs=Cânones
  ls$matricula-faculdade/Cânones/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade.ano/Cânones.1690/1690-10-01/obs=01.10.1690
  ls$matricula-faculdade/Cânones/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade.ano/Cânones.1691/1691-10-01/obs=01.10.1691
  ls$matricula-faculdade/Cânones/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade.ano/Cânones.1692/1692-10-01/obs=01.10.1692
  ls$matricula-faculdade/Cânones/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade.ano/Cânones.1693/1693-10-01/obs=01.10.1693
  ls$matricula-faculdade/Cânones/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade.ano/Cânones.1694/1694-10-01/obs=01.10.1694
  ls$matricula-faculdade/Cânones/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade.ano/Cânones.1695/1695-10-01/obs=01.10.1695
  ls$matricula-faculdade/Cânones/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade.ano/Cânones.1696/1696-10-01/obs=01.10.1696
  ls$matricula-faculdade/Cânones/1697-10-01/obs=01.10.1697
  ls$matricula-faculdade.ano/Cânones.1697/1697-10-01/obs=01.10.1697
  ls$grau/Bacharel em Cânones/1696-05-26/obs=26.05.1696
  ls$grau.ano/Bacharel em Cânones.1696/1696-05-26/obs=26.05.1696
  ls$grau/Formatura em Cânones/1697-11-20/obs=20.11.1697
  ls$grau.ano/Formatura em Cânones.1697/1697-11-20/obs=20.11.1697
  ls$instituta/1690-10-01/1690-10-01/obs=01.10.1690 1690-10-01
  ls$instituta.ano/1690/1690-10-01/obs=01.10.1690 1690-10-01
  referido$Manuel Barreto/None/id=127764-pai

# Debug

In [5]:
import requests

kurl2 = f"{url}/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml"

print(kurl2)
headers = {"Authorization": f"Bearer {token}"}

response = requests.get(kurl2, headers=headers)
if response.status_code == 200:
    xml_string = response.text
    print(xml_string[0:2048])
else:
    print(f"Error: {response.status_code} - {response.reason}")

http://127.0.0.1:8090/rest/exports/reference_sources/varia/auc-alunos-264605-A-140337-140771.xml
<?xml version='1.0'?>
<KLEIO STRUCTURE="/usr/local/timelink/clio/src/gacto2.str" SOURCE="/kleio-home/reference_sources/varia/auc-alunos-264605-A-140337-140771.cli" TRANSLATOR="gactoxml2.str" WHEN="2023-10-17 4:28:16" OBS="" SPACE="">
<CLASS NAME="source" SUPER="entity" TABLE="sources" GROUP="fonte">
     <ATTRIBUTE NAME="id" COLUMN="id" CLASS="id" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="1" ></ATTRIBUTE>
     <ATTRIBUTE NAME="date" COLUMN="the_date" CLASS="date" TYPE="varchar" SIZE="24" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="type" COLUMN="the_type" CLASS="type" TYPE="varchar" SIZE="32" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="value" COLUMN="the_value" CLASS="value" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="loc" COLUMN="loc" CLASS="loc" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="ref" COLUMN="ref" CLASS="ref" TYPE="varchar" SIZE="64" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="kleiofile" COLUMN="kleiofile" CLASS="kleiofile" TYPE="varchar" SIZE="512" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="obs" COLUMN="obs" CLASS="obs" TYPE="varchar" SIZE="16654" PRECISION="0" PKEY="0" ></ATTRIBUTE>
     <ATTRIBUTE NAME="replace" COLUMN="replaces" CLASS="replace" TYPE="varchar" SIZE="254" PRECISION="0" PKEY="0" ></ATTRIBUTE>
</CLASS>

<GROUP ID="auc-alunos-264605-A-140337-140771" NAME="fonte" CLASS="source" ORDER="1" LEVEL="1" LINE="28">
    <ELEMENT NAME="line" CLASS="line"><core>28</core></ELEMENT>
    <ELEMENT NAME="id" CLASS="id"><core>auc-alunos-264605-A-140337-140771</core></ELEMENT>
    <ELEMENT NAME="groupname" CLASS="groupname"><core>fonte</core></ELEMENT>
   <ELEMENT NAME="inside" CLASS="inside"><core>root</core></ELEMENT>
   <ELEMENT NAME="class" CLASS="class"><core>source</core></ELEMENT>
    <ELEMENT NAME="order" CLASS="order"><core>1</core></ELEMENT>
    <ELEMENT NAME="level" CLASS="level"><core>1</core></ELEMENT>
   <ELEMENT NAME="year" CLASS="undef">

In [29]:
from timelink.kleio.importer import import_from_xml

file = "https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml"  # noqa

with db.session() as session:
    stats = import_from_xml(file, session=session,options={"return_stats": True})
stats

Storing 2 postponed relations

{'datetime': 1697549928.160403,
 'machine': 'jrc-air-m2.local',
 'database': sqlite:////Users/jrc/develop/timelink-py/tests/timelink-home/sources/test-project/database/sqlite/timelink.db.sqlite,
 'file': 'https://raw.githubusercontent.com/time-link/timelink-py/f76007cb7b98b39b22be8b70b3b2a62e7ae0c12f/tests/xml_data/b1685.xml',
 'import_time_seconds': 2.4436087608337402,
 'entities_processed': 747,
 'entity_rate': 305.69541735688057,
 'person_rate': 78.98154692085402,
 'nerrors': 0,
 'errors': []}